.navbar-styling {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-flex;
}

.button-navbar-styling {
    border: 1px solid gray;
    border-radius: 20px;
    width: fit-content;
    cursor: pointer;
}
