<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EsportsPedia</title>
    <link href="{{ url_for('static', filename='Skeleton-2.0.4/css/skeleton.css') }}" rel="stylesheet"  />
    <link href="{{ url_for('static', filename='Skeleton-2.0.4/css/normalize.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/index-style.css') }}" rel="stylesheet">
</head>
<body>

<form>
    <div class="row navbar-styling">
        <button class="button-navbar-styling" type="submit" formaction="{{ url_for('games') }}" formmethod="get">Games</button>
        <button class="button-navbar-styling" type="submit" formaction="{{ url_for('leagues') }}" formmethod="get">Leagues</button>
        <button class="button-navbar-styling" type="submit" formaction="{{ url_for('players') }}" formmethod="get">Players</button>
        <button class="button-navbar-styling" type="submit" formaction="{{ url_for('teams') }}" formmethod="get">Teams</button>
    </div>
</form>

</body>
</html>
