<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EsportsPedia</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="{{ url_for('static', filename='favicon-32x32.png') }}" rel="icon"/>
    <link href="{{ url_for('static', filename='Skeleton-2.0.4/css/skeleton.css') }}" rel="stylesheet"  />
    <link href="{{ url_for('static', filename='Skeleton-2.0.4/css/normalize.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<form>
    <div class="row navbar">
        <button type="submit" formaction="{{ url_for('index') }}" formmethod="get"><i class="material-icons">home</i></button>
        <button {% if pageName == "Games" %}class="active"{% endif %} type="submit" formaction="{{ url_for('games') }}" formmethod="get">Games</button>
        <button {% if pageName == "Leagues" %}class="active"{% endif %} type="submit" formaction="{{ url_for('leagues') }}" formmethod="get">Leagues</button>
        <button {% if pageName == "Players" %}class="active"{% endif %} type="submit" formaction="{{ url_for('players') }}" formmethod="get">Players</button>
        <button {% if pageName == "Teams" %}class="active"{% endif %} type="submit" formaction="{{ url_for('teams') }}" formmethod="get">Teams</button>
        <button {% if pageName == "Organizations" %}class="active"{% endif %} type="submit" formaction="{{ url_for('organizations') }}" formmethod="get">Organizations</button>
    </div>
</form>

<div class="content">
        <div class="content-header">
            <h1>{{ pageName }}</h1>
            <input id="filter-input" type="text" placeholder="Search"/>
            <form><button formaction="{{ url_for('create', type=pageName) }}" formmethod="get">Create</button></form>
        </div>

    <form>
        <ul class="list">
            {% if items != None %}
                {% for item in items %}
                    <li id="{{ item[1] }}"><button formaction="{{ url_for(itemType, id=item[0]) }}" formmethod="get">{{item[1]}}</button></li>
                {% endfor %}
            {% endif %}
        </ul>
    </form>
</div>

<div class="footer">
    <p>Created with passion by <span>TEAM 10</span> for GLO-2005</p>
</div>
</body>
<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="module">
    import {filterList, setItemList} from "{{ url_for('static', filename='js/script.js') }}";

    {% if items != None %}
        setItemList({{ items|safe }});
        filterList('');
    {% endif %}
</script>
</html>
