<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EsportsPedia</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="{{ url_for('static', filename='favicon-32x32.png') }}" rel="icon"/>
    <link href="{{ url_for('static', filename='Skeleton-2.0.4/css/skeleton.css') }}" rel="stylesheet"  />
    <link href="{{ url_for('static', filename='Skeleton-2.0.4/css/normalize.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<form>
    <div class="row navbar">
        <button type="submit" formaction="{{ url_for('index') }}" formmethod="get"><i class="material-icons">home</i></button>
        <button type="submit" formaction="{{ url_for('games') }}" formmethod="get">Games</button>
        <button type="submit" formaction="{{ url_for('leagues') }}" formmethod="get">Leagues</button>
        <button type="submit" formaction="{{ url_for('players') }}" formmethod="get">Players</button>
        <button type="submit" formaction="{{ url_for('teams') }}" formmethod="get">Teams</button>
    </div>
</form>

<div class="content">
    <div class="content-title">
        <h3>{{ player['alias'] }}</h3>
    </div>
    <div class="content-body">
        <div class="content-description">
            <h5>Teams</h5>
            <form>
                <ul class="list">
                    {% for team in player['teams'] %}
                        <li><button formaction="{{ url_for('team', id=team['id']) }}" formmethod="get">{{ team["name"] }}</button></li>
                    {% endfor %}
                </ul>
            </form>

        </div>
        <div class="content-info-panel">
            <h5>Information</h5>
            <p><span>First Name:</span> {{ player['first_name'] }}</p>
            <p><span>Last Name:</span> {{ player['last_name'] }}</p>
            <p><span>Nationality:</span> {{ player['nationality'] }}</p>
        </div>
</div>

<div class="footer">
    <p>Created with passion by <span>TEAM 10</span> for GLO-2005</p>
</div>
</body>
</html>